body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  left: 0;
  bottom: 0;
  margin-top: 16px;
  width: 100%;
  text-align: center;
}

.dismissModal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.3);
  z-index: 2;
  padding: 0;
  margin: 0;
}